.slick-arrow {
    background-color: aqua;
    border-radius: 13px;
}

.slick-arrow:focus {
    background-color: aqua;
}

.slick-arrow:hover {
    background-color: aqua;
}
.slide{
    padding-left: 30px;
}